/* src/components/Footer.css */
.footer-section {
  background-color: #eee7e2;
  border-top: 1px solid #ddd;
  font-family: "Inter", sans-serif;
  margin-top: 50px !important;
}

.footer-title {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #000;
}

.footer-text {
  font-size: 0.95rem;
  color: #555;
}

.footer-section a {
  color: #555;
  text-decoration: none;
  font-size: 0.95rem;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-logo {
  max-width: 140px;
  height: auto;
}
