.hero-section {
  background-color: #f9f6f3;
  font-family: "Inter", sans-serif;
  padding-bottom: -2px;
}
.row {
  margin-bottom: 0 !important;
}

.text-col {
  background-color: #f9f6f3;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.hero-title {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  font-weight: 600;
  color: #1c1c1c;
  margin-bottom: 1rem;
  letter-spacing: -0.5px;
}

.hero-subtitle {
  font-size: 1.1rem;
  font-weight: 300;
  color: #555;
  line-height: 1.6;
  margin-bottom: 2.5rem;
}

/* Hero Button */
.hero-cta {
  display: inline-block;
  font-size: 0.85rem;
  padding: 8px 24px;
  border-radius: 40px;
  background-color: #c5bcb2;
  color: #555;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  letter-spacing: 0.4px;
  transition: all 0.3s ease;
  border: none;
  width: auto;
  max-width: fit-content;
}

.hero-cta:hover {
  background-color: #baaea1;
  color: #1c1c1c;
}

.image-col img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.welcome-text {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 1rem;
}

/* ribbon section */
.ribbon {
  background-color: #f9f6f3;
  color: #555;
  padding: 0.75rem 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: 500;
  position: relative;
}

.ribbon-track {
  display: inline-block;
  width: 200%;
  animation: scrollText 30s linear infinite;
}

.ribbon-content {
  display: inline-block;
  padding-left: 100%;
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
